<button (click)="openCreateModal()" class="btn-primary">Create New Page</button>

<table>
  <thead>
  <tr>
    <th class="py-1 px-2">Name</th>
    <th class="py-1 px-2">Content</th>
    <th class="py-1 px-2">Path</th>
    <th class="py-1 px-2">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let page of pages">
    <td class="py-1 px-2">{{ page.name | shuffleString }}</td>
    <td class="py-1 px-2">{{ page.content | shuffleString }}</td>
    <td class="py-1 px-2">{{ page.path | shuffleString }}</td>
    <td class="py-1 px-2">
      <button class="btn-primary" (click)="openUpdateModal(page)">Update</button>
      <button class="btn-red" (click)="deletePage(page.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
