<div class="register">
  <h2>Register</h2>

  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username</label>
      <input [(ngModel)]="newUser.username" id="username" name="username" type="text" required>
    </div>

    <div>
      <label for="email">Email</label>
      <input [(ngModel)]="newUser.email" id="email" name="email" type="email" required>
    </div>

    <div>
      <label for="password">Password</label>
      <input [(ngModel)]="newUser.password" id="password" name="password" type="password" required>
    </div>

    <button type="submit">Register</button>
    <a href="/login"><button type="button"> Login</button></a>
  </form>

</div>
